/*Estilização geral*/
body{
	
	margin:0px;
	padding:0px;
	border:0px;

	font-family: 'lato', Arial, Helvetica,  sans-serif;
	background-color:#f3f3f3;
	
}
.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right:0px;
}

#name {
	float: left;
	margin-left: 12%;
}

#contactDetails {
	float: right;
	
}



/*Estilização geral dos titulos a esquerda */
.sectionTitle {
	float: left;
	margin-left:3%;
	width: 20%;
	margin-top:0px;
	
	color:#cf8a05;
	
	font-size:15px;
	font-family: 'Rokkitt';
	
}


/*Texto  e bordas*/
section{
	border-bottom:1px solid #dedede;
	
	
	margin-left:10%
	
	
}
.sectionContent {
	float: right;
	width:60%;
	color:#181818;
	font-size:15px;
	margin-right: 15%;
	
	
}

h2{
	color:#444444;
	
}


/*Estilização do cabeçalho*/

#name{
	color:#444444;
	width: 300px;
	text-align: left;
	margin:none;

}
#namepeople{
	text-align: left;
}

.mainDetails{
	border-bottom: 2px solid #cf8a05; 
	width: 80%;
	margin-top:10px;
	padding-bottom:10px;
	margin-left:10%;

}
#img{
border-radius:50%;

}
 
/*Quebra de linha da "tabela" e estilo da lista*/
 
table{

width: 100%;
float: right;
float:left;

}
td{
	text-align: center;
	padding-left: 30px;
	
}

li,a{
	list-style: none;
	color:#181818;
	text-decoration: none;
}